.titre{
color: limegreen;
margin-left:40px;
font-family: Chalkduster, fantasy;

}

#PageCentrale {
 margin-left: auto;
 margin-right: auto;
}
/********************************************************/
#BandeMenuHaut {
 display: block;
 position: fixed;
 margin-top: 0px;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 55px;
 /* padding-top: 10px;*/  /*décalage du texte vers le bas*/
 text-align: left;
 text-indent: 0px; /*décalage du texte vers la droite*/
 font-size: 18px;
 color: #FFFFFF;
 background-color: #111;
}

  .ParamOpaciteMenu{
    filter : alpha(opacity=90); /* code en plus pour IE9 */
    opacity: 0.9;
  }

/********************************************************/

ul#MenuRubriques
{
margin-left: 0px;
padding-left: 150px;
white-space: nowrap;
}

#MenuRubriques li
{

display: inline;
list-style-type: none;
}

#MenuRubriques a {

padding: 2px 65px;

}

#MenuRubriques a:link, #MenuRubriques a:visited
{
text-decoration: none;
color: limegreen;

}

#MenuRubriques a:hover
{
text-decoration: none;
color: limegreen;
background-color: #1E5388;

}

 #centrer {
   text-align: center;

 }

 #centrer h1{
   color: #6d071a;

 }

 body{
   background-color: gray;

 }

.fa-linkedin {padding: 20px;
  background: #007bb5;
  color: white;
  margin-left:1290px;

}

.fa {padding: 20px;
font-size: 20px;
width: 70px;
text-align: center;
text-decoration: none;
border-radius: 10%; }

.fab {padding: 20px;
font-size: 20px;
width: 70px;
text-align: center;
text-decoration: none;
border-radius: 10%; }

.fa:hover {
    opacity: 0.7;
}

.fa-discord {padding: 20px;
background: #738A;
color: white;

}

#BandeMenuBas{
position: fixed;
padding: 10px 10px 10px 399px;
bottom: 0px;
left: 0px;
width: 100%;
height: 60px;
background: #111111;


}

#décalagauche{
  float:left;

}

#gauches{
margin-top: -15px;
float:auto;

}


