



.titre{
color: limegreen;
margin-left:10px;

}

#PageCentrale {
 margin-left: auto;
 margin-right: auto;
}
/********************************************************/
#BandeMenuHaut {
 display: block;
 position: fixed;
 margin-top: 0px;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 55px;
 /* padding-top: 10px;*/  /*décalage du texte vers le bas*/
 text-align: left;
 text-indent: 0px; /*décalage du texte vers la droite*/
 font-size: 18px;
 color: #FFFFFF;
 background-color: #111;
}

  .ParamOpaciteMenu{
    filter : alpha(opacity=90); /* code en plus pour IE9 */
    opacity: 0.9;
  }
  
/********************************************************/  
  
ul#MenuRubriques
{
margin-left: 0px;
padding-left: 0;
white-space: nowrap;
}

#MenuRubriques li
{

display: inline;
list-style-type: none;
}

#MenuRubriques a {
	
padding: 3px 10px;

}

#MenuRubriques a:link, #MenuRubriques a:visited
{
text-decoration: none;
color: limegreen;
background-color: #102D49;
}

#MenuRubriques a:hover
{
text-decoration: none;
color: limegreen;
background-color: #1E5388;

}